<form class="ui form" style="margin-left: 20px">
  <h4 class="ui teal left ribbon label">Rejected Projects</h4>
  <table class="ui very compact table">
    <thead>
    <tr>
      <th>Land Name</th>
      <th>Location</th>
      <th>Created Date</th>
      <th>Approval States</th>
      <th>Authority</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>John</td>
      <td>Approved</td>
      <td>2018-10-31</td>
      <td>Approved</td>
      <td>None</td>
      <td>
        <button class="mini ui red inverted button">
          Remove
        </button>
      </td>
    </tr>
    <tr>
      <td>John</td>
      <td>Approved</td>
      <td>2018-10-31</td>
      <td>Approved</td>
      <td>None</td>
      <td>
        <button class="mini ui red inverted button">
          Remove
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</form>
