<div><a class="ui teal left ribbon label" style="margin-left: 20px">Area wise Projects</a></div>
<form class="ui form " style="margin-left: 20px">
  <h4 class="ui dividing header"></h4>
  <div class="field">
    <div class="two fields">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label width" style="font-weight: normal">
            Area
          </div>
          <input placeholder="Enter Area" type="text">
        </div>
      </div>

      <div class="field" style="margin-left: 50px">
        <div class="ui labeled input">
          <div class="ui label width" style="font-weight: normal">
            Total No of Lots
          </div>
          <input placeholder="Total No of Lots" type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label width" style="font-weight: normal">
            Developer
          </div>
          <input placeholder="Enter Developer" type="text">
        </div>
      </div>

      <div class="field" style="margin-left: 50px">
        <div class="ui labeled input">
          <div class="ui label width" style="font-weight: normal">
            Unsold Lots
          </div>
          <input placeholder="Unsold Lots" type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field">
        <div class="ui labeled input">
          <div class="ui label width" style="font-weight: normal">
            Project Name
          </div>
          <input placeholder="Enter Project Name" type="text">
        </div>
      </div>
      <div class="field" style="margin-left: 50px;">
        <div class="ui labeled input">
          <div class="ui label width" style="font-weight: normal">Commenced Date
          </div>
          <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }"
                 placeholder="MM/DD/YYYY">
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field" style="text-align: right">
        <button class="ui right labeled icon button positive">
          <i class="right save icon"></i>
          Save
        </button>
      </div>

      <div class="field" style="margin-left: 50px;">
        <div class="ui labeled input">
          <div class="ui label width" style="font-weight: normal; height: 50%;">
            Remarks
          </div>
          <textarea style="height: 50%;"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>

<table class="ui compact table" style="margin-left: 20px">
  <thead>
  <tr>
    <th>#</th>
    <th>Developer</th>
    <th>Project Name</th>
    <th>Commenced Date</th>
    <th>Total No Of Lots</th>
    <th>Unsold Lots</th>
    <th>Remarks</th>
    <th>Area</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>John</td>
    <td>Approved</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>
      <button class="mini ui blue inverted button">
        <i class="pencil alternate icon"></i>
        Edit
      </button>
    </td>
  </tr>
  <tr>
    <td>John</td>
    <td>Approved</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>
      <button class="mini ui blue inverted button">
        <i class="pencil alternate icon"></i>
        Edit
      </button>
    </td>
  </tr>
  <tr>
    <td>John</td>
    <td>Approved</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>
      <button class="mini ui blue inverted button">
        <i class="pencil alternate icon"></i>
        Edit
      </button>
    </td>
  </tr>
  <tr>
    <td>John</td>
    <td>Approved</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>
      <button class="mini ui blue inverted button">
        <i class="pencil alternate icon"></i>
        Edit
      </button>
    </td>
  </tr>
  <tr>
    <td>John</td>
    <td>Approved</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>
      <button class="mini ui blue inverted button">
        <i class="pencil alternate icon"></i>
        Edit
      </button>
    </td>
  </tr>
  </tbody>
</table>
