<nav>
  <ul>
    <li>
      <a routerLink=""
         style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey; font-size: small">
        <i class="material-icons"></i>

      </a>
    </li>
    <li>
      <a routerLink="" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey;">
        <i class="material-icons"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey;">
        <i class="material-icons"></i>
        New Land
      </a>
    </li>
    <li>
      <a routerLink="approved-projects"
         style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey;">
        <i class="material-icons"></i>
        Approved Projects
      </a>
    </li>
    <li>
      <a routerLink="areawise-projects" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey;">
        <i class="material-icons"></i>
        Area wise Projects
      </a>
    </li>
    <li>
      <a routerLink="rejected" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey;">
        <i class="material-icons"></i>
        Rejected Projects
      </a>
    </li>
    <li>
      <a routerLink="locations" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey;">
        <i class="material-icons"></i>
        Locations
      </a>
    </li>
    <li>
      <a routerLink="" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid darkgrey;">
        <i class="material-icons"></i>
        Sales
      </a>
    </li>
  </ul>
</nav>
